@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
    /* Custom styles for the navbar collapse */
/* Custom styles for the navbar collapse */
/* Custom styles for the navbar collapse */
/* .navbar-heading-container {
    display: flex;
    justify-content: center;
}

.navbar-heading {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    margin: 0; /* Remove any default margin} */

